<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.commulinic.mapper.ApplicationMapper">

    <select id="page" resultType="com.commulinic.entity.Application">
        select * from application
        <where>
            <if test="data.name != null and data.name !=''">and name like concat('%', #{data.name}, '%')</if>
            <if test="data.status != null and data.status != 0">and status &amp; #{data.status} != 0</if>
            <if test="data.userId != null and data.userId != 0">and user_id = #{data.userId}</if>
        </where>
        ORDER BY updated_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <update id="update">
        update application
            <set>
                <if test="status != null and status != 0">status = #{status},</if>
                <if test="updatedAt != null and updatedAt != 0">updated_at = #{updatedAt},</if>
            </set>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Long">
        select count(1) from application
        <where>
            <if test="name != null and name !=''">and name like concat('%', #{name}, '%')</if>
            <if test="status != null and status != 0">and status &amp; #{status} != 0</if>
            <if test="userId != null and userId != 0">and user_id = #{userId}</if>
        </where>
    </select>

    <update id="updateDepartment">
        update application set department = #{name} where department_id = #{id}
    </update>
</mapper>