<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.commulinic.mapper.ChatMapper">

    <update id="update">
        update chat
            <set>
                <if test="senderName != null and senderName != ''">sender_name = #{senderName},</if>
                <if test="revId != null">rev_id = #{revId},</if>
            </set>
        where id = #{id}
    </update>

    <select id="selectAllByReceiver" resultType="com.commulinic.entity.Chat">
        select * from chat
        where receiver_id = #{receiverId}
    </select>

    <select id="countByReceiver" resultType="java.lang.Long">
        select count(*) from chat where receiver_id = #{receiverId}
    </select>
</mapper>