<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.commulinic.mapper.MedicalTipMapper">

    <select id="page" resultType="com.commulinic.entity.MedicalTip">
        select * from medical_tip
        <where>
            <if test="id != null and id != 0">and id = #{id}</if>
            <if test="description != null and description != ''">
                and description like concat('%', #{description}, '%')
            </if>
        </where>
        order by id asc LIMIT #{pageSize} OFFSET #{page}
    </select>
</mapper>