<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.commulinic.mapper.MedTipMapper">

    <select id="page" resultType="com.commulinic.entity.MedTip">
        select * from medical_tip
        <where>
            <if test="data.description != null and data.description != ''">
                and description like concat('%', #{data.description}, '%')
            </if>
        </where>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="count" resultType="java.lang.Long">
        select COUNT(1) from medical_tip
        <where>
            <if test="description != null and description != ''">
                and description like concat('%', #{description}, '%')
            </if>
        </where>
    </select>
</mapper>