<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.commulinic.mapper.RegisterMapper">

    <select id="page" resultType="com.commulinic.entity.Register">
        select * from register
        <where>
            <if test="data.userId != null and data.userId != 0">and user_id = #{data.userId}</if>
            <if test="data.doctorId != null and data.doctorId != 0">and doctor_id = #{data.doctorId}</if>
            <if test="data.status != null and data.status != 0">and status &amp; #{data.status} != 0</if>
            <if test="data.section != null and data.section != 0">and section &amp; #{data.section} != 0</if>
            <if test="data.userName != null and data.userName != ''">and user_name like concat('%', #{data.userName}, '%')</if>
            <if test="data.doctorName != null and data.doctorName != ''">and doctor_name like concat('%', #{data.doctorName}, '%')</if>
        </where>
        <choose>
            <when test="data.price != null and data.price == 1">
                order by price
            </when>
            <when test="data.price != null and data.price == 2">
                order by price DESC
            </when>
            <otherwise>
                order by id
            </otherwise>
        </choose>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <update id="update">
        update register
        <set>
            <if test="userId != null and userId != 0">user_id = #{userId},</if>
            <if test="doctorId != null and doctorId != 0">doctor_id = #{doctorId},</if>
            <if test="createTime != null and createTime != 0">create_time = #{createTime},</if>
            <if test="date != null and date != 0">date = #{date},</if>
            <if test="price != null and price != 0">price = #{price},</if>
            <if test="status != null and status != 0">status = #{status},</if>
            <if test="section != null and section != 0">section = #{section},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="doctorName != null and doctorName != ''">doctor_name = #{doctorName},</if>
        </set>
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Long">
        select COUNT(1) from register
        <where>
            <if test="userId != null and userId != 0">and user_id = #{userId}</if>
            <if test="doctorId != null and doctorId != 0">and doctor_id = #{doctorId}</if>
            <if test="status != null and status != 0">and status &amp; #{status} != 0</if>
            <if test="section != null and section != 0">and section &amp; #{section} != 0</if>
            <if test="userName != null and userName != ''">and user_name like concat('%', #{userName}, '%')</if>
            <if test="doctorName != null and doctorName != ''">and doctor_name like concat('%', #{doctorName}, '%')</if>
        </where>
    </select>
</mapper>